.container {
  padding: 1em;
  background-color: #fff;
  overflow: hidden;
  border-radius: var(--border-radius);
  /* box-shadow: var(--box-shadow); */
}

.title {
  color: #555;
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.1;
  margin: 0 0 8px 0;
}

.content {
  font-size: 0.8em;
  color: #555;
}

.bgGray {
  background-color: var(--secondary-bg-color);
}
