.container {
  padding: 1em;
  background-color: #fff;
  overflow: hidden;
  border-radius: 12px;
}

.title {
  font-size: 0.9em;
  font-weight: 600;
  line-height: 1.1;
  margin: 0 0 8px 0;
}

.content {
  font-size: 0.8em;
  color: #555;
}

.bgGray {
  background-color: #f3f3f3;
}

.bgBlue {
  background-color: #ffffff;
}
