.main {
  position: relative;
  height: 100%;
}

.container {
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 1px solid var(--border-color);
  position: relative;
  height: 100%;
}

.headerContainer {
  position: absolute;
  top: 4px;
  left: 0px;
  z-index: 1;
  width: 100%;
}

.headerContainer * {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
}
