@import 'tailwindcss';

:root {
  --main-bg-color: rgba(36, 36, 36, 1);
  --primary-text-color: #f0f0f0;
  --secondary-text-color: #aaaaaa;
  --secondary-bg-color: #eeeeee;
  --highlight-color: #646cff;
  --border-radius: 10px;
  --border-color: rgb(91, 91, 91);
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  font-family: 'Fira Sans', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 1.8em;
  line-height: 1.2;
}

table {
  width: 100%;
}

table thead tr,
table tbody td {
  padding: 0.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: rgba(249, 249, 249, 1);
    --primary-text-color: #213547;
    --secondary-text-color: #666666;
    --secondary-bg-color: #ebebeb;
    --highlight-color: #646cff;
    --border-radius: 10px;
    --border-color: rgb(222, 222, 222);
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--primary-text-color);
    background-color: var(--main-bg-color);
  }
}

.highcharts-background {
  fill: transparent !important;
}

.fade-zoom-view-in-enter {
  opacity: 0;
  transform: scale(0.7);
}
.fade-zoom-view-in-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 500ms ease,
    transform 400ms ease;
}
.fade-zoom-view-in-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-zoom-view-in-exit-active {
  opacity: 0;
  transform: scale(1.1);
  transition:
    opacity 450ms ease,
    transform 400ms ease;
}

.fade-zoom-view-out-enter {
  opacity: 0;
  transform: scale(1.1);
}
.fade-zoom-view-out-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 500ms ease,
    transform 400ms ease;
}
.fade-zoom-view-out-exit {
  opacity: 1;
  transform: scale(1);
}
.fade-zoom-view-out-exit-active {
  opacity: 0;
  transform: scale(0.7);
  transition:
    opacity 450ms ease,
    transform 400ms ease;
}

/* Test View In and Out Transitions  */
.v1-view-in-enter {
  transform: scale(0.05);
}
.v1-view-in-enter-active {
  transform: scale(1);
  transform-origin: 0 0;
  transition: transform 450ms ease 200ms;
}

.v1-view-in-exit {
  transform: scale(1);
}
.v1-view-in-exit-active {
  transform: scale(0.05);
  transform-origin: 0 0;
  transition: transform 500ms ease;
}

.v1-view-out-enter {
  transform: scale(0.05);
}
.v1-view-out-enter-active {
  transform: scale(1);
  transform-origin: 0 0;
  transition: transform 500ms ease;
}
.v1-view-out-exit {
  transform: scale(1);
}
.v1-view-out-exit-active {
  transform: scale(0.05);
  transform-origin: 0 0;
  transition: transform 400ms ease 250ms;
}

/* Test header IN and OUT transitions */
.v1-header-in-enter {
  transform: scale(0);
}
.v1-header-in-enter-active {
  transform: scale(1);
  transform-origin: 0 0;
  transition: transform 400ms ease;
}

.v1-header-out-exit {
  transform: scale(1);
}
.v1-header-out-exit-active {
  transform: scale(0.5);
  transform-origin: 0 0;
  transition: transform 800ms ease;
}

/* Version: 2 | View Fade with Slide UP */
.v2-view-in-enter {
  transform: translateY(-15px);
  opacity: 0.1;
}
.v2-view-in-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition:
    transform 500ms ease,
    opacity 500ms ease;
}

.v2-view-in-exit {
  transform: translateY(0);
  opacity: 1;
}
.v2-view-in-exit-active {
  transform: translateY(-15px);
  opacity: 0.1;
  transition:
    transform 500ms ease,
    opacity 500ms ease;
}

.v2-view-out-enter {
  transform: translateY(-15px);
  opacity: 0.1;
}
.v2-view-out-enter-active {
  transform: translateY(0px);
  opacity: 1;
  transition:
    transform 500ms ease,
    opacity 500ms ease;
}
.v2-view-out-exit {
  transform: translateY(0);
  opacity: 1;
}
.v2-view-out-exit-active {
  transform: translateY(-15px);
  opacity: 0.1;
  transition:
    transform 400ms ease,
    opacity 400ms ease;
}

/* VERSION:2 | header IN and OUT transitions */
.v2-header-in-enter {
  transform: translateY(-10px);
  opacity: 0;
}
.v2-header-in-enter-active {
  transform: translateY(0);
  opacity: 1;
  transform-origin: 0 0;
  transition:
    transform 400ms ease,
    opacity 400ms ease;
}

.v2-header-out-exit {
  transform: translateY(0);
  opacity: 1;
}
.v2-header-out-exit-active {
  transform: translateY(-10px);
  opacity: 0;
  transform-origin: 0 0;
  transition:
    transform 600ms ease,
    opacity 600ms ease;
}

/* VERSION: 3 | View Fade with Slide left */
.v3-view-in-enter {
  transform: translateX(-15px);
  opacity: 0.1;
}
.v3-view-in-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 500ms ease,
    opacity 500ms ease;
}

.v3-view-in-exit {
  transform: translateX(0);
  opacity: 1;
}
.v3-view-in-exit-active {
  transform: translateX(-15px);
  opacity: 0.1;
  transition:
    transform 500ms ease,
    opacity 500ms ease;
}

.v3-view-out-enter {
  transform: translateX(-15px);
  opacity: 0.1;
}
.v3-view-out-enter-active {
  transform: translateX(0px);
  opacity: 1;
  transition:
    transform 500ms ease,
    opacity 500ms ease;
}
.v3-view-out-exit {
  transform: translateX(0);
  opacity: 1;
}
.v3-view-out-exit-active {
  transform: translateX(-15px);
  opacity: 0.1;
  transition:
    transform 400ms ease,
    opacity 400ms ease;
}

/* VERSION:3 | header IN and OUT transitions */
.v3-header-in-enter {
  transform: translateX(10px);
  opacity: 0;
}
.v3-header-in-enter-active {
  transform: translateX(0);
  opacity: 1;
  transform-origin: 0 0;
  transition:
    transform 400ms ease,
    opacity 400ms ease;
}

.v3-header-out-exit {
  transform: translateX(0);
  opacity: 1;
}
.v3-header-out-exit-active {
  transform: translateX(10px);
  opacity: 0;
  transform-origin: 0 0;
  transition:
    transform 500ms ease,
    opacity 500ms ease;
}

/* Fira Sans Font Weights */
.fira-sans-light {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  font-style: normal;
}

/* VERSION: 5 | View Scale Out and Fade In */
/* .scale-fade-view-in-enter {
  opacity: 0;
  transform: scale(1);
}
.scale-fade-view-in-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 500ms ease,
    transform 400ms ease;
}
.scale-fade-view-in-exit {
  opacity: 1;
  transform: scale(1);
}
.scale-fade-view-in-exit-active {
  opacity: 0;
  transform: scale(1.1);
  transition:
    opacity 450ms ease,
    transform 400ms ease;
}

.scale-fade-view-out-enter {
  opacity: 0;
  transform: scale(1.1);
}
.scale-fade-view-out-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 500ms ease,
    transform 400ms ease;
}
.scale-fade-view-out-exit {
  opacity: 1;
  transform: scale(1);
}
.scale-fade-view-out-exit-active {
  opacity: 0;
  transform: scale(1);
  transition:
    opacity 450ms ease,
    transform 400ms ease;
} */

/* VERSION: 6 | View Scale Out and Fade In optimized */
.scale-fade-view-in-enter {
  opacity: 0;
  transform: scale(1);
}
.scale-fade-view-in-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 500ms ease,
    transform 400ms ease;
}
.scale-fade-view-in-exit {
  opacity: 1;
  transform: scale(1);
}
.scale-fade-view-in-exit-active {
  opacity: 0;
  transform: scale(1.1);
  transition:
    opacity 450ms ease,
    transform 400ms ease;
}

.scale-fade-view-out-enter {
  opacity: 0;
  transform: scale(1.1);
}
.scale-fade-view-out-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 500ms ease,
    transform 400ms ease;
}
.scale-fade-view-out-exit {
  opacity: 1;
  transform: scale(1);
}
.scale-fade-view-out-exit-active {
  opacity: 0;
  transform: scale(1);
  transition:
    opacity 450ms ease,
    transform 400ms ease;
}
